<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %highlight{[%-5level]}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} %style{(%t)}{cyan} %style{%C{1.}}{yellow} %X{AWS-XRAY-TRACE-ID} - %msg%n%throwable"/>
        </console>
    </appenders>
    <loggers>
        <logger name="kr.co.swingsaver"  level="DEBUG" additivity="true">
            <appender-ref ref="CONSOLE" />
        </logger>
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
        <root level="DEBUG">
            <appender-ref ref="CONSOLE" />
        </root>        
    </loggers>
</configuration>