<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
    <Properties>
        <Property name="logNm">Spring Log4j2</Property>
       	<Property name="layoutPattern">%style{%d{yyyy/MM/dd HH:mm:ss,SSS}}{cyan} %highlight{[%-5p]}{FATAL=bg_red, ERROR=red,
            INFO=green, DEBUG=blue}  [%C] %style{[%t]}{yellow}- %m%n</Property>  
       	<Property name="filePattern">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>  
                                
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Properties>
    
    <appenders>
        <Console name="LogToConsole" class="ch.qos.logback.core.ConsoleAppender">            
        	<PatternLayout pattern="${layoutPattern}"/>          
        </Console>
        <RollingFile name="LogToFile"
                     fileName="logs/app.log"
                     filePattern="logs/app.%d{yyyy-MM-dd}.log.gz"
                     ignoreExceptions="false">
            <PatternLayout pattern="${filePattern}"/>
            <!-- JSONLayout compact="true" eventEol="true" /  -->
            <TimeBasedTriggeringPolicy />
        </RollingFile>
    </appenders>
    <loggers>
        <Logger name="kr.co.swingsaver" level="debug" additivity="true">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="org.springframework.boot" level="error" additivity="true">
        	<AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <!--  Logger name="com.amazonaws.xray" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger  -->

        <root level="INFO">
            <AppenderRef ref="LogToConsole" />
            <AppenderRef ref="LogToFile" />
        </root>
    </loggers>
</configuration>